
{#<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">#}
{#<html xmlns="http://www.w3.org/1999/xhtml">#}
{#<head>#}
{#<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />#}
{#<title>Untitled Document</title>#}
{#</head>#}
{% extends "employerdashindex.html" %}
{% block body %}
 <br> <center>
    <span style="color: #0a0a0a">
        <h2 style="color: #0096FF; font-weight: bold;">Edit Project</h2>
    </span>
</center>
<br>
<body>
<form action="/wForce/editproject_POST/" method="post">
 <table class="table table-bordered table-hover">
     {% csrf_token %}

<input type="hidden"name="id" value="{{ data.id }}" >
  <tr>
    <th scope="col">Project Name:</th>
     <td><input type="text" class="form-control" required name="textfield" id="textfield"  value="{{ data.projecttitle }}"/></td>
  </tr>
  <tr>
    <th scope="col">Project Description:</th>
    <td><input type="text" class="form-control" required name="textarea" id="textarea"  value="{{ data.projectdescription }}"/></td>
  </tr>
      <tr>
    <th scope="col">Project Location:</th>
         <td><input type="text" class="form-control" required name="textfield1" id="textfield1" value="{{ data.projectlocation }}" /></td>

  </tr>
      <tr>
    <th scope="col">Duration:</th>
      <td><input type="text" class="form-control" required name="textfield2" id="textfield2" value="{{ data.duration }}"/></td>
  </tr>
      <tr>
    <th scope="col">No.of workers needed:</th>
        <td><input type="text" class="form-control" required name="textfield3" id="textfield3" value="{{ data.no_of_workers}}" /></td>
  </tr>

  <tr>
    <th scope="col">&nbsp;</th>
    <td><input type="submit" name="button" id="button" class="btn btn-success" value="Update" /></td>
  </tr>
</table>
</form><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</body>
{#</html>#}
{% endblock %}
