<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body><form action="/wForce/approvalofregistrationemployer_POST/" method="post" enctype="multipart/form-data">{% csrf_token %}<table width="200" border="1">
  <tr>
    <th width="218" scope="row">Cover Photo</th>
    <td colspan="2"><label for="fileField3"></label>
      <input type="file" name="fileField2" id="fileField3" /></td>
  </tr>
  <tr align="left">
    <th scope="row"><label for="textfield">Employer Name</label>
      <input type="text" name="textfield" id="textfield" /></th>
    <td colspan="2"><label for="textfield2">Email</label>
      <input type="text" name="textfield2" id="textfield2" /></td>
  </tr>
  <tr align="left">
    <th scope="row"><label for="textfield3">Phone number</label>
      <input type="text" name="textfield3" id="textfield3" /></th>
    <td colspan="2"><label for="textfield4">Website</label>
      <input type="text" name="textfield4" id="textfield4" /></td>
  </tr>
  <tr align="left">
    <th scope="row"><label for="textfield5">Founded date</label>
      <input type="text" name="textfield5" id="textfield5" /></th>
    <td colspan="2"><label for="textfield6">Company Size</label>
      <input type="text" name="textfield6" id="textfield6" /></td>
  </tr>
  <tr align="left">
    <th scope="row"><label for="select">Category</label>
      <select name="select" id="select">
          <option>Construction</option>
      </select></th>
    <td colspan="2">&nbsp;</td>
  </tr>
  <tr align="left">
    <th colspan="3" scope="row"><label for="textarea">About Company</label>
      <textarea name="textarea" id="textarea" cols="45" rows="5"></textarea></th>
    </tr>
  <tr>
    <th scope="row"><label for="fileField4">Photo 1</label>
      <input type="file" name="fileField3" id="fileField4" /></th>
    <td width="188"><label for="fileField5">Photo 2</label>
      <input type="file" name="fileField4" id="fileField5" /></td>
    <td width="146"><label for="fileField6">Photo 3</label>
      <input type="file" name="fileField5" id="fileField6" /></td>
  </tr>
  <tr align="left">
    <th colspan="3" scope="row"><label for="textfield7">Location</label>
      <input type="text" name="textfield7" id="textfield7" /></th>
    </tr>
  <tr align="left">
    <th scope="row"><label>Post
      <input type="text" name="textfield9" id="textfield9" />
    </label></th>
    <th scope="row"><label>State
      <input type="text" name="textfield10" id="textfield10" />
    </label></th>
    <th scope="row"><label>District
      <input type="text" name="textfield11" id="textfield11" />
    </label></th>
    </tr>
  <tr align="left">
    <th colspan="3"><label for="textfield8">Pincode</label>
      <input type="text" name="textfield8" id="textfield8" /></th>
    </tr>
  <tr>
    <th>&nbsp;</th>
    <td colspan="2"><input type="submit" name="button" id="button" value="Submit" /></td>
  </tr>
</table>
</form>

</body>
</html>
