<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body><form action="" method="post"><table width="200" border="1">
  <tr>
{#    <td>Home</td>#}
      <a href="/wForce/addfee/">add fees</a> <br>
      <a href="/wForce/viewfee">view fees</a> <br>
      <a href="/">View worker and approve</a> <br>
      <a href="/">View employer and approve</a> <br>
      <a href="/">View Registered employers</a> <br>
      <a href="/">View Registered workers</a> <br>
      <a href="/">View add notification</a> <br>
      <a href="/">View view notification</a> <br>
      <a href="/">Block/Unblock</a> <br>



{#      <a href="/">Edit Profile</a> <br>#}
{#      <a href="/">Add project</a> <br>#}
{#      <a href="/">Edit project</a> <br>#}
{#      <a href="/">Add job vacancy</a> <br>#}
{#      <a href="/">Edit job vacancy</a> <br>#}
{#      <a href="/">Give request</a> <br>#}
{#      <a href="/"> request</a> <br>#}


  
</table>
</form>
</body>
</html>
