{% extends "admindashinboxduplicate.html" %}
{% block body %}
<br>
    <br>
<body><form action="" method="post">
   <center>
    <span style="color: #0a0a0a">
        <h4 style="color: #0a0a0a; font-weight: bold; text-decoration: underline;">Subscription Management-View Fee</h4>
    </span>
</center>
<br><br>
    <table class="table  table-striped table-primary">
    {% csrf_token %}
  <tr>
    <th scope="col">Sl.No</th>
    <th scope="col">Type</th>
    <th scope="col">Fee</th>
    <th scope="col">&nbsp;</th>
    <th scope="col">&nbsp;</th>
  </tr>
    {% for i in data %}
  <tr>
    <td>&nbsp;{{ forloop.counter }}</td>
    <td>{{ i.Type }}&nbsp;</td>
    <td>{{ i.Amount }}&nbsp;</td>
    <td><a href="/wForce/editfee/{{ i.id }}" class="btn btn-primary">Edit</a></td>
    <td><a href="/wForce/deletefee/{{ i.id }}" class="btn btn-danger">Delete</a></td>
  </tr>
    {% endfor %}
</table>

</form>
</body>
{% endblock %}
