{% extends "admindashinboxduplicate.html" %}
{% block body %}

<body>
 <form action="/wForce/allreviewsadmin_POST/#about" method="post">
        <center>
       <h4 style="font-weight: bold;color: black; text-decoration: underline; font-family: Arial, sans-serif;">Reviews</h4>
    </center>

        <div class="row">
            <div class="col-md-6">
                <input type="text" class="form-control rounded-pill" placeholder="Search with username..." name="search_query">
            </div>
            <div class="col-md-2">
                <button class="btn btn-secondary rounded-pill btn-block" type="submit">Search</button>
            </div>
        </div>

   <div class="mt-4">
      {% if data %}
        <h5>Recent Reviews:</h5><br>
        <table style="background-color: white" class="table table bordered">
          <tr style="color: blue">
            <td>Given To</td>
            <td>Reviews</td>
            <td>Ratings</td>
            <td>Given By</td>
            <td> Date</td>
            <td> Action</td>
          </tr>
          {% for i in data %}
          <tr>
            <td style="color: olive"> {{ i.TOID.Username }}<br><i style="font-size: small;color: dimgrey">{{ i.TOID.Type }}</i></td>
            <td>{{ i.review }}</td>
           <td>
                {% if i.rating %}
        <i class="fas fa-star" style="color: gold;"></i>
    {% endif %}
    <b>{{ i.rating }}</b>

</td>

            <td style="color: indianred"> {{ i.FROMID.Username }}<br><i style="font-size: small;color: dimgrey">{{ i.FROMID.Type }}</i></td>
            <td style="color: #b3b3b3"> {{ i.date }}</td>
            <td>
              {% if i.time != 'blocked' %}
              <a href="/wForce/actionblockuser/{{ i.TOID.id }}" class="btn btn-danger btn-sm mt-auto">Block</a>

              {% else %}
{#              <h4 style="color: red;font-size: medium"> blocked</h4>#}
                  <a href="/wForce/actionunblockuser/{{ i.TOID.id }}" class="btn btn-success btn-sm mt-auto">Unblock</a>
              {% endif %}
            </td>
          </tr>
          {% endfor %}
        </table>
      {% else %}
        <p>No reviews found.</p>
      {% endif %}
   </div>

</body>
{% endblock %}
