{% extends "employerdashindexduplicate.html" %}
{% block body %}

<body><form action="/wForce/viewacceptedprojectrequests_POST/" method="post">
   <center>
    <span style="color: #0a0a0a">
        <h4 style="color: #0a0a0a; font-weight: bold; text-decoration: underline;">View Accepted Requests</h4>
    </span>
</center>
<br><br>
       <div class="card">
        <div class="card-body">
            <table class="table table-striped table-bordered table-sm">
    {% csrf_token %}
  <tr style="background-color: pink">
    <th scope="row">Sl.No</th>
    <th scope="row">Worker Info</th>
    <th scope="row"> Project details</th>
    <th scope="row">Date</th>
    <th scope="row">Action</th>
    <th scope="row"></th>

  </tr>
    {% for i in data %}
  <tr>
    <td>&nbsp;{{ forloop.counter }}</td>
      <td><a href="" >{{ i.WORKER.Email }}</a></td>
      <td>{{ i.PROJECT.projecttitle }}<br>
      {{ i.PROJECT.projectdescription }}<br>
          place: {{ i.PROJECT.projectlocation }}
      <br>duration: {{ i.PROJECT.duration }}
      <br>no:of workers: {{ i.PROJECT.no_of_workers }}</td>
    <td>{{ i.date }}&nbsp;</td>

    <td><a href="/wForce/viewsearchedworkerprofile/{{ i.WORKER.id }}" class="btn btn-primary">View profile</a></td>
    <td><a href="/wForce/assigningtoprojectbyrequest/{{ i.id }}/{{ i.PROJECT.id }}" class="btn btn-info">Assign to Project</a></td>
{#    <td><a href="/wForce/rejectworkerjobrequest/{{ i.id }}" class="btn btn-danger" >Reject</a></td>#}
  </tr>
    {% endfor %}
</table>
        </div></div>
</form>
</body>
{% endblock %}
