{% extends "employerdashindexduplicate.html" %}
{% block body %}

<body>
<form action="/wForce/viewjobvacancy/" method="post">
    <center>
        <span style="color: #0a0a0a">
            <h2 style="color: #fd5800; font-weight: bold; font-size: 34px;">JOB VACANCIES</h2>
        </span>
    </center>
    <br>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">

    <a href="/wForce/addjobvacancy/" class="btn btn-danger btn-sm"><i class="fas fa-plus fa-fw"></i> Add Job Vacancy</a>
    <br><br>
    {% for i in data %}<br><br>
    <h3 style="font-family: Arial, sans-serif; font-weight: bold; color: #7a67bb; background-color: white;font-size: 18px;">{{ i.project.projecttitle }}<br></h3>

    <br>
    <div class="table-responsive">
                {% if i.job %}

        <table class="table table-striped table-bordered table-sm" style="font-size: 14px;">
            {% csrf_token %}
            <thead class="thead-dark">

            <tr style="background-color: lightsteelblue">
                <th scope="col">Sl.No</th>
                <th scope="col">Job Title</th>
                <th scope="col">Description</th>
                <th scope="col">Location</th>
                <th scope="col">District</th>
                <th scope="col" style="width: 80px;">Start Date</th>

                <th scope="col" style="width: 80px;">End Date</th>
                <th scope="col">Skills</th>
                <th scope="col">Salary</th>
                <th scope="col">No of Vacancy</th>
                <th scope="col" style="width: 80px;">Created date</th>
                <th scope="col">Edit</th>
                <th scope="col">Delete</th>
                <th scope="col">View Job Requests</th>
                <th scope="col">View Approved Job Requests</th>
            </tr>
            </thead>
            <tbody>
            {% for m in i.job %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ m.jobfield }}</td>
                <td>{{ m.jobtitle }}</td>
                <td>{{ m.location }}</td>
                <td>{{ m.district }}</td>
                <td>{{ m.startdate }}</td>
                <td>{{ m.enddate }}</td>
                <td>{{ m.skills }}</td>
                <td>{{ m.salary }}</td>
                <td>{{ m.eno_of_vaccancy }}</td>
                <td>{{ m.created_date }}</td>
                <td>
                    <a href="/wForce/editjobvacancy/{{ m.id }}" class="btn btn-info btn-sm" title="Edit Job">
                        <i class="fas fa-pencil-alt"></i>
                    </a>
                </td>
                <td>
                    <a href="/wForce/deletejobvacancy/{{ m.id }}" class="btn btn-danger btn-sm" title="Delete Job">
                        <i class="fas fa-trash"></i>
                    </a>
                </td>
                <td>
                    <a href="/wForce/viewworkerrequests/{{ m.id }}" class="btn btn-primary btn-sm" title="View Job Requests">
                        <i class="fas fa-eye"></i>
                    </a>
                </td>
                <td>
                    <a href="/wForce/viewapprovedjobrequests/{{ m.id }}" class="btn btn-success btn-sm" title="View Approved Job Requests">
                        <i class="fas fa-check"></i>
                    </a>
                </td>
            </tr>

            </tbody>
        </table>
                {% endfor %}
            {% else %}
    <p class="text-center">no data</p>
{% endif %}
    </div>
    {% endfor %}
</form>

</body>
{% endblock %}
