{% extends "employerdashindex.html" %}
{% block body %}
<br>
    <br>
<body><form action="/wForce/viewapprovedjobrequests_POST/" method="post">
   <center>
    <span style="color: #0a0a0a">
        <h4 style="color: #0a0a0a; font-weight: bold; text-decoration: underline;">View Accepted Requests</h4>
    </span>
</center>
<br><br>
       <div class="card">
        <div class="card-body">
            <table class="table table-striped table-bordered table-sm">
    {% csrf_token %}
  <tr style="background-color: pink">
    <th scope="row">Sl.No</th>
    <th scope="row">Worker Info</th>
    <th scope="row">Date</th>
    <th scope="row">&nbsp;</th>
    <th scope="row">&nbsp;</th>
  </tr>
    {% for i in data %}
  <tr>
    <td>&nbsp;{{ forloop.counter }}</td>
      <td><a href="" >{{ i.WORKER.Email }}</a></td>
    <td>{{ i.date }}&nbsp;</td>

    <td><a href="/wForce/viewsearchedworkerprofile/{{ i.WORKER.id }}" class="btn btn-success">View profile</a></td>
    <td><a href="/#/{{ i.id }}" class="btn btn-info">

        Assign to Project</a></td>
{#    <td><a href="/wForce/rejectworkerjobrequest/{{ i.id }}" class="btn btn-danger" >Reject</a></td>#}
  </tr>
    {% endfor %}
</table>
        </div></div>
</form>
</body>
{% endblock %}


{##}
{##}
{#{% extends "employerdashindex.html" %}#}
{#{% block body %}#}
{#<br>#}
{#    <br>#}
{#<body>#}
{#   <center>#}
{#    <span style="color: #0a0a0a">#}
{#        <h4 style="color: #0a0a0a; font-weight: bold; text-decoration: underline;">View Accepted job vacancy Requests</h4>#}
{#    </span>#}
{#</center>#}
{#<br><br>#}
{#<div class="container">#}
{#    <div class="row">#}
{#        {% for request in data %}#}
{#        <div class="col-md-4 mb-4">#}
{#            <div class="card rounded shadow-sm border-0" style="background-color: #f3f4f6;">#}
{#                <div class="card-body">#}
{#                    <h5 class="card-title" style="color: #343a40;">Worker Info</h5>#}
{#                      <p class="card-text"><strong>Name:</strong> {{ request.WORKER.Username }}</p>#}
{#                    <p class="card-text"><strong>Email:</strong> <a href="mailto:{{ request.WORKER.Email }}" style="color: #007bff;">{{ request.WORKER.Email }}</a></p>#}
{#                    <p class="card-text"><strong>Date:</strong> {{ request.date }}</p>#}
{#                    <div class="d-flex justify-content-between align-items-center">#}
{#                        <div class="btn-group">#}
{#                            <a href="/wForce/viewsearchedworkerprofile/{{ request.WORKER.id }}" class="btn btn-sm btn-outline-primary">View Profile</a>#}
{#                            <a href="/#/{{ request.id }}" class="btn btn-sm btn-outline-success">Assign to Project</a>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#        {% endfor %}#}
{#    </div>#}
{#</div>#}
{#</body>#}
{#{% endblock %}#}
